<%- include("header") -%>

<div class="box" id="heading">
    <h1> Add A New Item</h1>
</div>


<div >
     <form action="/" method="post">
        <div class="box">
        <label class="head" for="fname">Enter the new medicine name:</label>
        <input type="text" name="newItem" placeholder="New Item" autocomplete="off"><br>
        <label class="head" for="fname">Enter the existing quantity medicine name:</label>
        <input type="text" name="quant" placeholder="Quantity" autocomplete="off"><br>
        <label class="head" for="fname">Enter the price of the medicine:</label>
        <input type="text" name="price" placeholder="Price" autocomplete="off"><br>
        </div>
        <button class="add" type="submit" name="list">Add</button>
      </form>
    
  </div>

























<%- include("footer") -%>